<header>
    <nav class="navbar top-nav">
      <div class="nav-logo">
        <img src="#" alt="Chass.com Logo">
        <li><a href="/">Chass.com</a></li>
      </div>
      <ul class="nav-links">
        <li><a href="/play">Jugar</a></li>
        <li><a href="/profile">Perfil</a></li>
      </ul>
      <div class="auth-buttons">
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Registrate</a></li>
      </div>
    </nav>
    <nav class="navbar bottom-nav">
      <ul class="category-links">
        <li><a href="/rulesandhistory">Reglas e Historia del Juego</a></li>
        <li><a href="/developers">Desarrolladores</a></li>
      </ul>
    </nav>
  </header>