<div class="nav-bg">
      <nav class="principal-nav container">
        <a href="/">Inicio</a>
        <a href="/rules">Historia y Reglas</a>
        <a href="/tablero">Partida</a>
        <a href="/login">Logeate</a>
        <a href="/register">Registrate</a>
      </nav>
</div>