 <main>
      <section class="private-game">
        <h1>Partidas:</h1>
        <div class="games-grid">
          <div class="game-info">
            <h3>Crea una partida:</h3>
            <div class="fieldset">
              <label for="email">Invita a un jugar ingresando su correo electr칩nico:</label>
              <input name="email" class="input-text" type="email" id="email" placeholder="correo@ejemplo.com">
            </div>
            <h4><a href="/chessboard" class="button">Crear partida</a></h4>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreaci칩n o reproducci칩n de esta p치gina sera penalizada con una funa masiva en Reddit.</p>
    </footer>