<main>
      <div class="formulary margin">
        <fieldset>
          <h3>Chass.com fue desarrollado por:</h3>
          <div class="developer-info">
            <h4>Mariana Carrasco</h4>
            <p>mariana.carrasco@mail.udp.cl // +56950957946</p>
            <h4>Fernando Cabrera</h4>
            <p>fernando.cabrera1@mail.udp.cl // +56956120958</p>
          </div>
        </fieldset>
      </div>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreación o reproducción de esta página sera penalizada con una funa masiva en Reddit.</p>
    </footer>