
    <main>
      <h1>Te damos bienvenida a Chass.com!</h1>
      <p>Este es el sitio más chascón para jugar ajedrez, aquí podras entrenar las habilidades de tu cerebro para ser el más seco en cada partida que juegas.
      Dentro de esta página podras crear, jugar y ver partidas en tiempo real, ya sea solo o con amigos.
      Personaliza tú perfil con un nombre único y encuentra todas tus partidas jugadas para ver todas las victorias una encima de la otra.
      A si que adentrate en este campo tan lindo y busca partidas hasta ser el mejor de la historia.</p>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreación o reproducción de esta página sera penalizada con una funa masiva en Reddit.</p>
    </footer>