<main>
      <section class="game-modes">
        <h1>Modos de juego: En línea:</h1>
        <div class="modes-grid">
          <div class="mode-box">
            <img src="/img/publicgame.png" alt="Partidas públicas">
            <div class="mode-info">
              <h3>Partidas públicas</h3>
              <h4><a href="/publicgameplay" class="button">Jugar</a></h4>
              <h4><a href="/publicgamever" class="button">Ver</a></h4>
              <p>Juega o mira a una partida pública en contra de otro jugador en línea.</p>
            </div>
          </div>
          <div class="mode-box">
            <img src="/img/privategame.png" alt="Partidas privadas">
            <div class="mode-info">
              <h3>Partidas privadas</h3>
              <h4><a href="/privategame" class="button">Jugar</a></h4>
              <p>Unete a una partida privada si algún jugador te ha invitado a unirte por correo.</p>
            </div>
          </div>
          <div class="mode-box">
            <img src="/img/creategame.png" alt="Crear partida">
            <div class="mode-info">
              <h3>Crea una partida</h3>
              <h4><a href="/creategame" class="button">Crear</a></h4>
              <p>Crea una partida pública donde cualquier jugador puede unirse o una privada donde puedes invitar a alguien mandando una invitación indicando su correo electrónico.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreación o reproducción de esta página sera penalizada con una funa masiva en Reddit.</p>
    </footer>