<main>
      <section class="profile-container">
        <h1>Perfil</h1>
        <div class="profile-info">
          <img src="/img/user_avatar.png" alt="Avatar del Usuario">
          <div class="user-details">
            <h2>Username</h2>
            <p>Victorias: 4, Empates: 5, Derrotas: 2</p>
            <a href="/profile" class="button">Editar Perfil</a>
          </div>
        </div>
        <h2>Historial</h2>
        <div class="history-list">
          <div class="history-item">
            <img src="/img/game_icon.png" alt="Empate">
            <div class="history-details">
              <p><strong>vs. Friend</strong> - Empate</p>
              <p>20:01 - #N. partida</p>
            </div>
          </div>
          <div class="history-item">
            <img src="/img/game_icon.png" alt="Victoria">
            <div class="history-details">
              <p><strong>vs. Random</strong> - Victoria</p>
              <p>15:31 - #N. partida</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreación o reproducción de esta página sera penalizada con una funa masiva en Reddit.</p>
    </footer>