<main>
      <section class="public-game">
        <h1>Partidas:</h1>
        <div class="games-grid">
          <div class="game-info">
            <h3>Partida disponible:</h3>
            <h4>Usuario</h4>
            <div class="button-group">
              <a href="/chessboard" class="button">Unirse</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreación o reproducción de esta página sera penalizada con una funa masiva en Reddit.</p>
    </footer>