    <main>
      <form class="formulary margin" action="/" method="get">
        <fieldset>
          <legend>Registra tus datos para jugar en Chass.com</legend>
          <div class="fieldset">
            <label for="nombres">Nombres</label>
            <input name="nombres" class="input-text" type="text" id="nombres" placeholder="Nombres">
          </div>
          <div class="fieldset">
            <label for="apellidos">Apellidos</label>
            <input name="apellidos" class="input-text" type="text" id="apellidos" placeholder="Apellidos">
          </div>
          <div class="fieldset">
            <label for="fecha">Fecha de nacimiento</label>
            <input name="fecha" class="input-text" type="date" id="fecha">
          </div>
          <div class="fieldset">
            <label for="username">Nombre de usuario</label>
            <input name="username"class="input-text" type="text" id="username" placeholder="usuario">
          </div>
          <div class="fieldset">
            <label for="profilepicture">Foto de perfil</label>
            <input name="profilepicture" type="file" id="profilepicture" accept="image/*">
          </div>
          <div class="fieldset">
            <label for="email">Correo electrónico</label>
            <input name="email" class="input-text" type="email" id="email" placeholder="correo@ejemplo.com">
          </div>
          <div class="fieldset">
            <label for="password">Contraseña</label>
            <input name="password" class="input-text" type="password" id="password" placeholder="Contraseña">
          </div>
          <div class="fieldset">
            <label for="confirm-password">Confirme su contraseña</label>
            <input name="confirm-password" class="input-text" type="password" id="confirm-password" placeholder="Repita su contraseña">
          </div>
          <div class="submit w-100 align-right flex">
            <input name="submit w-100 align-right flex" class="button" type="submit" value="Registrate">
          </div>
        </fieldset>
      </form>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreación o reproducción de esta página sera penalizada con una funa masiva en Reddit.</p>
    </footer>