<main>
      <div class="formulary margin">
        <fieldset>
          <h3>1. Objetivo y dinámica del juego</h3>
          <h4>Objetivo Principal:</h4>
          <p>Dar jaque mate al rey del oponente, es decir, situarlo en una posición en la que esté amenazado sin poder escapar, ser protegido o capturado por otra pieza. También se puede ganar por la rendición del rival o por agotar su tiempo de juego.</p>

          <h4>Desarrollo de la Partida:</h4>
          <p>La partida se juega entre dos jugadores: uno con piezas blancas (quien inicia) y otro con piezas negras.</p>
          <p>Los turnos se alternan, y cada jugador debe mover una pieza en su turno sin poder pasar o realizar dos movimientos seguidos.</p>

          <h3>2. Colocación del tablero y de las piezas</h3>
          <h4>Tablero:</h4>
          <p>Consta de 64 casillas (8 filas x 8 columnas) y se debe colocar de manera que la casilla blanca esté en la derecha de cada jugador.</p>

          <h4>Piezas Iniciales:</h4>
          <p>Cada jugador dispone de 16 piezas: 1 rey, 1 dama (o reina), 2 torres, 2 alfiles, 2 caballos y 8 peones.</p>

          <h3>3. Movimiento de las piezas</h3>
          <h4>Torre:</h4>
          <p>Se mueve en línea recta, tanto horizontal como verticalmente, sin poder saltar sobre otras piezas.</p>

          <h4>Alfil:</h4>
          <p>Se desplaza en diagonal, también sin poder saltar piezas.</p>

          <h4>Dama:</h4>
          <p>Combina los movimientos de la torre y el alfil; se mueve en línea recta en cualquier dirección.</p>

          <h4>Caballo:</h4>
          <p>Realiza un movimiento en "L" y es la única pieza que puede saltar sobre otras piezas.</p>

          <h4>Peón:</h4>
          <p>Se mueve hacia adelante una casilla, excepto en su primer movimiento. Captura en diagonal.</p>

          <h4>Rey:</h4>
          <p>Se mueve una casilla en cualquier dirección. Puede realizar el enroque bajo ciertas condiciones.</p>
        </fieldset>
      </div>
    </main>
    <footer>
      <p>Todos los derechos reservados a Chass.com. Cualquier intento de copia, recreación o reproducción de esta página sera penalizada con una funa masiva en Reddit.</p>
    </footer>